.website__subtitle {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	padding-left: 320px;
	padding-right: 320px;
	margin-bottom: 64px;
}