.place__image {
  max-width: 460px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media (max-width: 425px) {
  .place__image {
    max-width: 100%;
    margin-bottom: 32px;
  }
}