.website__title {
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	padding-bottom: 32px;
	display: flex;
	justify-content: center;
	padding-left: 280px;
	padding-right: 280px;
}